{{- if .Values.wazuhIndexer.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "wazuh.fullname" . }}-indexer-config
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "wazuh.labels" . | nindent 4 }}
    app: wazuh-indexer
data:
  opensearch.yml: |
    network.host: 0.0.0.0
    node.name: ${node.name}
    cluster.name: wazuh-cluster
    cluster.initial_cluster_manager_nodes: {{ .Values.wazuhIndexer.cluster.initialClusterManagerNodes }}
    discovery.seed_hosts: {{ .Values.wazuhIndexer.cluster.seedHosts }}
    node.max_local_storage_nodes: {{ .Values.wazuhIndexer.cluster.maxLocalStorageNodes }}
    
    # Network
    http.port: 9200
    transport.port: 9300
    
    # Disable security for initial setup
    plugins.security.disabled: true
    
  internal_users.yml: |
    _meta:
      type: "internalusers"
      config_version: 2
    admin:
      hash: "$2y$12$K/SpwjtB.wOHJ/Nc6GVRDuc1h0rM1DfvziFRNPtk27P.c4yDr9njO"
      reserved: true
      backend_roles:
      - "admin"
      description: "Admin user"

  roles.yml: |
    _meta:
      type: "roles"
      config_version: 2

  roles_mapping.yml: |
    _meta:
      type: "rolesmapping"
      config_version: 2
    all_access:
      reserved: false
      backend_roles:
      - "admin"
      description: "Maps admin to all_access"

  config.yml: |
    _meta:
      type: "config"
      config_version: 2
    config:
      dynamic:
        authc:
          basic_internal_auth_domain:
            http_enabled: true
            transport_enabled: true
            order: 0
            http_authenticator:
              type: basic
              challenge: false
            authentication_backend:
              type: internal

  tenants.yml: |
    _meta:
      type: "tenants"
      config_version: 2

  nodes_dn.yml: |
    _meta:
      type: "nodesdn"
      config_version: 2

  whitelist.yml: |
    _meta:
      type: "whitelist"
      config_version: 2
    config:
      enabled: false
{{- end }}